//FLEX
.centered{
    display: $flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.text-standard{
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    
}